#login
  .title
    position: relative
    text-align: center
    height: 40px
    line-height: @height
    i
      position: absolute
      height: 16px
      left: 10px
      top: 0
      bottom: 0
      margin: auto
    span
      font-size: 18px
  .loginForm
    padding: 20px
    border-top: 1px solid black
  .msgCode
    display: flex
    justify-content: space-between
    > div
      padding-right 20px
    .codeBtn
      height 36.5px
  .loginBtn
    text-align: center
    padding: 20px 40px
    button
      width: 100%