#upload
  >img
    width 100%
  .uploadForm
    padding 10px 20px
    >div
      padding-right 60px
  .formSelect
    width 100%
  .uploadBtn
    width 60px
    height @width
    line-height: @height
    border 1px dashed grey
    font-size: 12px
    color: grey
  .uploadResumeSubmit
    text-align center
    padding: 20px 80px
    button
      width: 100%
.uploadTips
  composes: tips from '../../stylus/base.styl'
  padding 0 30px