#share
  .title
    text-align: center
  .resumeImg
    padding 10px 0
    img
      width 100%
      height 150px
  .intruduce
    padding 0 10px
    line-height: 20px
    font-size: 14px
  .qrcode
    text-align: center
    padding 20px 0
    img
      height 150px
      width @height
.shareImage
  img
    width 100%